.head {
    min-height: 90px;
    background-color: #fff;
    border-bottom: 1px solid rgb(212, 212, 212);
    position: relative;
    width: 100%;
    display: table;
    position: sticky;
    top: -35px;
    z-index: 998;
    transition: .5s;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-bar {
    position: absolute;
    right: 0;
    width: 60%;
    padding: 2px 10px;
    color: #fff;
    z-index: 99;
    background: linear-gradient(45deg, #ffffff 0%, #ffffff 4%, #0072bc 4%, #0072bc 4%, #0072bc 100%);
}
.contact-bar img {
    width: 15px;
    margin-right: 5px;
}

.contact-bar a {
    color: #fff;
    text-align: center;
    justify-content: end;
    display: flex;
    margin-right: 4rem;
    padding: 2px;
    font-weight: 1000;
    text-decoration: none;
}

.contact-bar small {
    font-weight: 600;
    margin-left: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 12px !important;
}

.logo {
    font-size: 18px;
    color: red;
    padding: 5px 15px;
    border: 0px solid #fff;
    margin-top: 5px;
    float: left;
}

.header-right {
    position: relative;
    display: flex;
}

.head-search {
    position: absolute;
    left: 9%;
    top: 40px;
}

.head-search ::before {
    content: "";
    background-image: url(/search.png);
    color: #000;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 100%;
    right: 9px;
    top: 8px;
    z-index: 999;
    background-repeat: no-repeat;
}

.autocomplete {
    width: 280px;
}
.autocomplete-container {
    box-shadow: 0 0 2px #0072bc, 0 0 1px #0072bc, 0 1px 1px -1px #0072bc !important;
    border-radius: 30px;
    height: 38px !important;
    width: 280px;
}

.input-container input {
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-radius: 18px;
    margin: 0em;
}

.menu {
    /* display: flex; */
    margin-top: 33px;
    padding: 11px 0;
    justify-content: space-between;
}

.menu div {
    margin-left: 380px;
}

.button-header {
    border: none;
    margin: 0 30px 0 30px;
    height: 25px;
    font-size: 14px;
    background-color: #0072bc;
    color: #fff;
}
 .bg-img{
    background-image: url(./pa1.jpg);
    height: 450px;
    /* background-repeat: no-repeat;
    width: 100%; */
    padding-left: 5px;
    padding-right: 5px;
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
} 
.banner-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}
 .head-title{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 20px;
    /* line-height: 1; */
    line-height: 1.2;

}
.sub-head-title{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}
.sub-container{
    background-color: #134e97bd;
    color: white;
    width: 65%;
    margin: 0 auto;
    text-align: center;
}
.line-break{
    border-bottom:  solid 1px white;
    margin: 0 6px;
    
}
.form-title
{
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}
.form-row{
    justify-content: space-between;
    display: inline-flex;
}
    

.form-containr{
    /* height: 90px; */
    margin-top: 30px;
    padding-bottom: 25px;
}
.col-md-3 {
    /* flex: 0 0 auto; */
    width: 24%;

}
.form-control{
    border-radius: 10px;

    border: solid 1px #000;
}
.btn-title{
    background-color: #0072bc;
    color: white;
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    border: none;
    border-radius: 55px;
    width: 100px;
    font-weight: 500;
    border: 2px solid ;
}
.banner-bottom-container
{
    background-color: #a6b3c3d1;
    padding: 15px 0;
    /* margin-top: 90px; */
}
 
.row1{
    display: flex;
    flex-wrap: wrap;
    
}
.common-box{
   
    background-color: #fff;
    border: 1px solid #90959f;
    display: flex;
    border-radius: 5px;
    margin-left: 10px;
    height: 80px;
    padding: 5px;
    min-height: 80px;

}
.common-box img{
    width: 25%;
    text-align: center;
    float: left;
    padding: 10px 0% 5px 3%;
}
.common-box .count-box h4{
    line-height: 1.2;

}
.common-box .count-box p{
    line-height: 1.2;
}
